<h1>Vehicles</h1>

<%= form_with url: vehicles_path, method: :get, data: { turbo_frame: "_top" } do |f| %>
  <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 1rem; margin-bottom: 2rem;">
    <%= f.text_field :name, placeholder: "Name", value: params[:name] %>
    <%= f.text_field :manufacturer_name, placeholder: "Manufacturer", value: params[:manufacturer_name] %>
    <%= f.number_field :year, placeholder: "Year", value: params[:year] %>
    <%= f.number_field :cylinders, placeholder: "Cylinders", value: params[:cylinders] %>
    <%= f.select :guzzler, [["All", ""], ["Guzzler", "true"], ["Not Guzzler", "false"]], { selected: params[:guzzler] }, { placeholder: "Guzzler" } %>
    <%= f.select :turbo_charger, [["All", ""], ["Turbo", "true"], ["No Turbo", "false"]], { selected: params[:turbo_charger] }, { placeholder: "Turbo" } %>
    <%= f.select :super_charger, [["All", ""], ["Supercharger", "true"], ["No Supercharger", "false"]], { selected: params[:super_charger] }, { placeholder: "Supercharger" } %>
  </div>
  <div style="display: flex; gap: 1rem;">
    <%= f.submit "Search" %>
    <%= link_to "Clear", vehicles_path, role: "button", class: "secondary" %>
  </div>
<% end %>

<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Year</th>
        <th>Manufacturer</th>
        <th>Name</th>
        <th class="hide-mobile">Base</th>
        <th class="hide-tablet">Displacement (L)</th>
        <th class="hide-mobile">Cylinders</th>
        <th class="hide-tablet">Transmission</th>
        <th class="hide-tablet">Class</th>
        <th class="hide-mobile">Turbo Charger</th>
        <th class="hide-mobile">Super Charger</th>
        <th class="hide-mobile">Guzzler</th>
      </tr>
    </thead>
    <tbody>
      <%= render @vehicles %>
    </tbody>
  </table>
</div>

<div style="margin-top: 2rem;">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>